<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SEARCH</title>
</head>
<body>
<div class="container mt-5" align="left">
    <h2 align="center">FINANCE.MD</h2>
    <div align="center">
        <a href="/finance">Home</a> |<a href="/finance/newproduct">Add new product</a> | <a href="/categories/newcategory">Add
        new category</a></div><br>




<form th:method="POST" th:action="@{/finance}" th:object="${item}">

    <label for="ownClient">Enter Company name: </label>
    <select th:field="*{ownClient}" id="ownClient">
        <div th:each="client: ${list}">
            <option th:value="${client.getId()}" th:text="${client.getCompanyName()}"></option></div>
    </select>

    <br/><br/>
    <label for="name">Enter name of position: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/><br/>
    <label for="cost">Enter cost: </label>
    <input type="text" th:field="*{cost}" id="cost"/>
    <div style="color:red" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Cost Error</div>
    <br/><br/>
    <label for="quantity">Enter Quantity: </label>
    <input type="number" th:field="*{quantity}" id="quantity"/>
    <div style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">quantity Error</div>
    <br/><br/>
    <label for="owner">Enter category: </label>
    <select th:field="*{owner}" id="owner">
        <div th:each="category: ${categoryList}">
            <option th:value="${category.getId()}" th:text="${category.getName()}"></option></div>
    </select>
    <br/><br/>






    <div class="container">
            <div class="form-group">
                <label>Status</label>
                <div th:each="model : ${T(md.fin.homefinance.model.enums.Typestatus).values()}">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" th:field="*{Typestatus}" th:value="${model}" class="custom-control-input">
                        <label class="custom-control-label" th:for="${#ids.prev('Typestatus')}" th:text="${model}">model</label>
                    </div>
                </div>
            </div>


    <br/><br/>




    <br/>
    <input type="submit" value="Create!"/>
</form>
</div>
</body>
</html>